// Sass variables
$green: rgb(0, 100%, 50%);
$red: rgb(250, 90, 0);
$light-bg: white;
$dark-bg: black;

.recipeName {
  color: $green;
  border: solid $green;
}

// reusable css styles, custom css styles
@mixin display-flex($color, $bg) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

// reusing reusable css styles
.card {
  @include display-flex;
}

// including custom css style
button {
  @include display-flex(black, blue);
}

// Functions in Sass
@mixin toggle-mode($theme) {
  @if $theme == "light" {
    background-color: $light-bg;
  } @else {
    background-color: $dark-bg;
  }
}
